    .color-cell{
      width: 100px;
      height: 100px;
    }
    .khaki{
      background-color: khaki;
    }
    .pale-green{
      background-color: palegreen;
    }
    .silver{
      background-color: silver;
    }
