* {
    box-sizing :border-box
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    height: 100vh;
    background: #0b1220
}

.stage{
    position: relative;
    height: 100vh;
    overflow:hidden;
}

.btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 999px;
    cursor: pointer;
    color:#0b1220;
    font-weight: 700;
    padding: 12px 18px;
    transition: left .12s, top .12s, width .12s, height .12s, background .12s, transform .12s;
}