*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.stage{
    position: relative;
    width: 100vw;
    height: 360px;
    overflow: hidden;
}

.circle {
    position: absolute;
    left: 20px;
    right: 60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: lightblue;
}
.c1{
    top: 60px
}

.c2{
    top: 160px;
}
.c3 {
    top: 260px;
}

